@import './../../../styles.scss';


.why-me-section {
    max-width: 1337px;
    // margin: 100px 0px 100px 0px;
    padding-top: 100px;
    
    width: 90vw;
    
}

.why-me-section-right-side {

    margin-left: 1rem;
}




.i-am-section {
    flex: 1;
    width: 600px;
}


.profil-image {
    width: 100%;
    border-radius: 50%
   
}

h1 {
    font-size: 3rem;
    color: $red;
}

p {
    font-size: 1.2rem;
    width: 80%;
}

span {
    font-size: 1rem;
}

.located-img {
    height: 41px;
}

.relocate-arrow {
    height: 56px;
}

.relocate-bag {
    height: 56px;
}

.remote-icon {
    height: 56px;
    display: flex;
    flex-direction: column;
}

.remote-laptop {
    position: relative;
    bottom: 44px;
}

.arrow-v2 {
    height: 35px;
    margin-left: 2rem;
}

.arrow-v3 {
    height: 56px;
}

.wifi-variant1 {
    position: relative;
    left: -19px;
    top: -28px;

}

.wifi-variant2 {
    height: 29px;
    position: relative;
    top: 2px;
    left: -23px;
    opacity: 0;
    transition: opacity 0.3s ease;

}

.remote-icon:hover .wifi-variant2 {
    opacity: 1;
}



.located {
    width: 100%;
}

.relocate {
    width: 60%;
}

.remote {
    width: 60%;
    margin-bottom: 1rem;
}

.i-am {
    color: $red;
}


.located-base {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .located-img:hover + .located-base {
    opacity: 1;
  }


  
 
  .relocate-arrow-responsive {
    display: none;
  }

  .remote-arrow-responsive-div {
display: none;  }



  @media only screen and (max-width: 1000px) {
    .profil-image {
        display: none;
       
    }



  }

  @media only screen and (max-width: 800px) {

    h1 {
        text-align: center;
        width: 100%;
    }

    .why-me-section {
        margin-bottom: 8rem;

        
    }

    .why-me-section-right-side {
        align-items: center !important;
        margin: 0;
    }

    p {
        font-size: 1.3rem;
        width: 100%;
        text-align: center;
    }

    .relocate-arrow {
        display: none;
    }

    .arrow-v2 {
        display: none;
    }
    
    .arrow-v3 {
        display: none;
    }

    .remote-inner {
        margin: 0 !important;
    }

    .located {
        flex-direction: column;
    }

    .i-am-section {
        width: 100%;
    }

    .relocate {
        width: 100%;
        justify-content: center !important;
    }
    
    .remote {
        width: 100%;
        margin: 0;
        justify-content: center !important;
    }
    
    .located-span {
        flex-direction: unset !important;
        gap: 0.7rem;
    }
    .relocate-span {
        flex-direction: unset !important;
        gap: 0.7rem;
    }
    .remote-span {
        flex-direction: unset !important;
        gap: 0.7rem;
    }

    .relocate-inner {
        margin: 0 !important;
    }

    .relocate-arrow-responsive {
        display: flex;
        transform: translateX(-10rem);
      }

      .relocate-arrow-responsive-div {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .remote-arrow-responsive {
        transform: translateX(+10rem) scaleX(-1);
        margin-bottom: 2rem;
    }
    

      .remote-arrow-responsive-div {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      span {
        font-size: 1.3rem;
    }

    .lets-talk {

        width: 137px;
        height: 43px;
    }


  }

  
  