<section id="why-me" class="why-me-section d-flex">
  <div data-aos="fade-up" data-aos-duration="3000">
    <img
      class="profil-image"
      src="/assets/img/why-me-section/profil-image.jpg"
      alt=""
    />
  </div>
  <div
    data-aos="fade-up"
    data-aos-duration="3000"
    class="why-me-section-right-side d-flex flex-column align-items-end"
  >
    <h1>{{ "Why me" | translate }}</h1>
    <p>
      {{
        "I am motivated to continuously learn new technologies and develop myself. My ability to solve complex problems and my passion for programming make me a valuable member of your team."
          | translate
      }}
    </p>
    <div class="relocate-arrow-responsive-div">
      <img
        class="relocate-arrow-responsive"
        src="/assets/img/why-me-section/Arrow-v1.png"
        alt=""
      />
    </div>
    <div
      class="i-am-section d-flex flex-column align-items-center justify-content-center row-gap-3"
    >
      <div
        class="located d-flex justify-content-start align-items-center column-gap-5"
      >
        <span class="i-am fs-1">{{ "I am" | translate }}</span>
        <div class="d-flex align-items-center column-gap-3">
          <div
            class="d-flex flex-column"
            (mouseover)="showBase = true"
            (mouseout)="showBase = false"
          >
            <img
              class="located-img"
              src="/assets/img/why-me-section/located-variant1.svg"
              alt=""
            />
            <img
              *ngIf="showBase"
              class="located-base"
              src="/assets/img/why-me-section/located-base.svg"
              alt=""
            />
          </div>

          <div class="located-span d-flex flex-column">
            <span>{{ "located" | translate }}</span>
            <span>{{ "in Munich" | translate }}</span>
          </div>
        </div>
      </div>
      <div class="relocate d-flex justify-content-between">
        <img
          class="relocate-arrow"
          src="/assets/img/why-me-section/Arrow-v1.png"
          alt=""
        />
      </div>
      <div class="remote d-flex justify-content-between align-items-center">
        <div class="remote-inner d-flex column-gap-3 ms-4 align-items-center">
          <div class="d-flex">
            <img
              class="remote-icon"
              src="/assets/img/why-me-section/Icon-Remote-v1.svg"
              onmouseover="src='/assets/img/why-me-section/Icon-Remote-v2.svg';"
              onmouseout="src='/assets/img/why-me-section/Icon-Remote-v1.svg';"
              alt=""
            />
          </div>

          <div class="remote-span d-flex flex-column">
            <span>{{ "open to" | translate }}</span>
            <span>{{ "work remote" | translate }}</span>
          </div>

          <img
            class="arrow-v2"
            src="/assets/img/why-me-section/Arrow (1).svg"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="remote-arrow-responsive-div">
      <img
        class="remote-arrow-responsive"
        src="/assets/img/why-me-section/Arrow-v1.png"
        alt=""
      />
    </div>
    <a class="lets-talk link-red-hover" href="">{{
      "Let's talk" | translate
    }}</a>
  </div>
</section>
