@import './../../../styles.scss';


.why-me-section {
    max-width: 1284px;
    margin: 100px 50px 100px 50px;
    
}

.i-am-section {
    flex: 1;
    width: 600px;
}


.profil-image {
    width: 488px;
}

h1 {
    font-size: 3rem;
    color: $red;
}

p {
    font-size: 1.2rem;
    width: 80%;
}

span {
    font-size: 1rem;
}

.located-img {
    height: 41px;
}

.relocate-arrow {
    height: 56px;
}

.relocate-bag {
    height: 56px;
}

.remote-icon {
    height: 56px;
}

.arrow-v2 {
    height: 50px;
}

.arrow-v3 {
    height: 56px;
}



.located {
    width: 100%;
}

.relocate {
    width: 60%;
}

.remote {
    width: 60%;
}

.i-am {
    color: $red;
}


.located-base {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .located-img:hover + .located-base {
    opacity: 1;
  }

  
  