@import './../../styles.scss';

@mixin dFlex ($jc: center, $ai: center, $g:0px) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}


nav {
    color: rgb(225, 85, 68);
    height: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: linear-gradient(180deg, #0B042D 63.5%, rgba(11, 4, 45, 0.2) 118.69%);

}



a {
    color: #E15544;
    text-decoration: none;
    @include dFlex();
    
    
}

.navigation-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 53rem;
}


.language-menu {
    @include dFlex($g: 6px);
    margin: 0 1rem 0 4rem;


    >div {
        border: solid 1px;
        height: 25px;
    }

}

.my-logo {
    @include dFlex();
    margin-left: 1rem;
}

.burger-menu-icon {
    display: none;
    margin-right: 2rem;
}

.my-logo-responsive {
    display: none;
    margin-left: 2rem;
}

@media only screen and (max-width: 800px) {
    .navigation-menu {
        display: none;
    }

    .language-menu {
        display: none;
    
    }

    .burger-menu-icon {
        display: flex;
    }
    
    .my-logo-responsive {
        display: flex;
    }

    nav {
        justify-content: space-between;
    }

}