<nav class="fixed-top">
  <a href="" class="my-logo-responsive"
    ><img src="./assets/img/header-section/my-Logo.svg" alt=""
  /></a>
  <img
    class="burger-menu-icon"
    src="/assets/img/header-section/Property 1=burger.svg"
    alt=""
  />
  <div class="navigation-menu fs-4">
    <a href="" class="my-logo"
      ><img src="./assets/img/header-section/my-Logo.svg" alt=""
    /></a>
    <a href="">Why Me</a>
    <a href="">Skills</a>
    <a href="">Projects</a>
    <a href="">Contact</a>
  </div>
  <div class="language-menu fs-4">
    <a href="">DE</a>
    <div class="seperator"></div>
    <a href="">EN</a>
  </div>
</nav>
