@import './../../styles.scss';

@mixin dFlex ($jc: center, $ai: center, $g:0px) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}

.active-language {
    color: #02F4BF; 
  }



nav {
    color: rgb(225, 85, 68);
    height: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: linear-gradient(180deg, #0B042D 63.5%, rgba(11, 4, 45, 0.2) 118.69%);

}



a {
    color: #E15544;
    text-decoration: none;
    @include dFlex();
    
    
}

.navigation-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 53rem;
}


.language-menu {
    @include dFlex($g: 6px);
    margin: 0 1rem 0 4rem;


    >div {
        border: solid 1px;
        height: 25px;
    }

}

.my-logo {
    @include dFlex();
    margin-left: 1rem;
}

.menu-mobile {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #13074E 46.5%, rgba(29, 10, 121, 0.95) 91%);
    z-index: 1500;
}

.active-menu-mobile {
    display: flex;
    flex-direction: column;
}

.burger-menu-icon {
    display: none;
    margin-right: 2rem;
}

.my-logo-responsive {
    display: none;
    margin-left: 2rem;
}

.language-menu-mobile {
    @include dFlex($g: 6px);
    font-size: 1.2rem !important;
    gap: 1rem;

    >div {
        border: solid 1px $red;
        height: 25px;
    }
}

.close-button {


    >img {
        height: 4rem;
        width: 4rem;
        margin: 1rem;
        cursor: pointer;
    }
}

.links-mobile {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    >a {
        font-size: 1.2rem;
        
    }
}


@media only screen and (max-width: 800px) {
    .navigation-menu {
        display: none;
    }

    .language-menu {
        display: none;
    
    }

    .burger-menu-icon {
        display: flex;
        cursor: pointer;
    }
    
    .my-logo-responsive {
        display: flex;
    }

    nav {
        justify-content: space-between;
    }

    .links-mobile {
    
        >a {
            font-size: 2rem;
            
        }
    }

    .language-menu-mobile {
        @include dFlex($g: 6px);
        font-size: 2rem !important;
        gap: 1rem;
    
        >div {
            border: solid 1px $red;
            height: 25px;
        }
    }




}