<nav class="fixed-top">
  <a href="#" class="my-logo-responsive"
    ><img src="./assets/img/header-section/my-Logo.svg" alt=""
  /></a>
  <img
    (click)="toggleMenu()"
    class="burger-menu-icon"
    src="./assets/img/header-section/Property 1=burger.svg"
    alt=""
  />
  <div class="navigation-menu-div">
    <div class="navigation-menu fs-4">
      <a href="" class="my-logo"
        ><img src="./assets/img/header-section/my-Logo.svg" alt=""
      /></a>
      <a href="#why-me"> {{ "Why me" | translate }}</a>
      <a href="#my-skills">{{ "Skills" | translate }}</a>
      <a href="#projects">{{ "Projects" | translate }}</a>
      <a href="#contact">{{ "Contact" | translate }}</a>
    </div>
    <div class="language-menu fs-4">
      <a
        class="de-button"
        (click)="translate.switchLanguage('de')"
        [class.active-language]="translate.currentLanguage === 'de'"
        >DE</a
      >
      <div class="seperator-mobile"></div>
      <a
        class="en-button"
        (click)="translate.switchLanguage('en')"
        [class.active-language]="translate.currentLanguage === 'en'"
        >EN</a
      >
    </div>
  </div>
</nav>

<div class="menu-mobile" [class.active-menu-mobile]="isMenuOpen">
  <div class="close-button d-flex justify-content-end">
    <img
      (click)="toggleMenu()"
      src="./assets/img/header-section/Property 1=CLOSE FINAL.svg"
      alt=""
    />
  </div>
  <div class="links-mobile">
    <a (click)="toggleMenu()" href="#why-me"> {{ "Why me" | translate }}</a>
    <a (click)="toggleMenu()" href="#my-skills">{{ "Skills" | translate }}</a>
    <a (click)="toggleMenu()" href="#projects">{{ "Projects" | translate }}</a>
    <a (click)="toggleMenu()" href="#contact">{{ "Contact" | translate }}</a>
    <div class="language-menu-mobile fs-4">
      <a
        class="de-button"
        (click)="translate.switchLanguage('de')"
        [class.active-language]="translate.currentLanguage === 'de'"
        >DE</a
      >
      <div class="seperator-mobile"></div>
      <a
        class="en-button"
        (click)="translate.switchLanguage('en')"
        [class.active-language]="translate.currentLanguage === 'en'"
        >EN</a
      >
    </div>
  </div>
</div>
