<section class="d-flex flex-column align-items-center">
  <div class="upper-footer d-flex justify-content-between">
    <div class="logo-footer d-flex flex-column">
      <img src="/assets/img/footer-section/my-Logo.svg" alt="" />
      <img src="/assets/img/footer-section/Frontend developer.svg" alt="" />
    </div>
    <div class="copyright d-flex align-items-end">© René Lochschmidt 2024</div>
    <div class="links-upper-footer d-flex align-items-end">
      <img
        src="/assets/img/footer-section/Github button.svg"
        onmouseover="src='/assets/img/footer-section/github-hover.svg';"
        onmouseout="src='/assets/img/footer-section/Github button.svg';"
        alt=""
      />

      <img
        src="/assets/img/footer-section/Email button.svg"
        onmouseover="src='/assets/img/footer-section/mail-hover.svg';"
        onmouseout="src='/assets/img/footer-section/Email button.svg';"
        alt=""
      />
      <img
        src="/assets/img/footer-section/Linkedin button.svg"
        onmouseover="src='/assets/img/footer-section/linkedin-hover.svg';"
        onmouseout="src='/assets/img/footer-section/Linkedin button.svg';"
        alt=""
      />
    </div>
  </div>
  <div class="bottom-footer d-flex">
    <a href="">Legal Notice</a>
    <a href="">Impressum</a>
  </div>
</section>
