<section class="d-flex flex-column align-items-center">
  <div class="upper-footer d-flex justify-content-between">
    <div class="logo-footer d-flex flex-column">
      <a href="#landing-page">
        <img src="./assets/img/footer-section/my-Logo.svg" alt="" />
      </a>
      <div class="copyright-responsive d-flex align-items-end">
        © René Lochschmidt 2024
      </div>
      <img
        class="underline-logo"
        src="./assets/img/footer-section/Frontend developer.svg"
        alt=""
      />
    </div>
    <div class="copyright d-flex align-items-end">© René Lochschmidt 2024</div>
    <div class="links-upper-footer d-flex align-items-end">
      <a href="https://github.com/Renec142151" target="_blank">
        <img
          src="./assets/img/footer-section/Github button.svg"
          onmouseover="src='./assets/img/footer-section/github-hover.svg';"
          onmouseout="src='./assets/img/footer-section/Github button.svg';"
          alt=""
        />
      </a>

      <a href="mailto:info@rene-lochschmidt.de">
        <img
          src="./assets/img/footer-section/Email button.svg"
          onmouseover="src='./assets/img/footer-section/mail-hover.svg';"
          onmouseout="src='./assets/img/footer-section/Email button.svg';"
          alt=""
        />
      </a>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/ren%C3%A9-lochschmidt-30871b322/"
      >
        <img
          src="./assets/img/footer-section/Linkedin button.svg"
          onmouseover="src='./assets/img/footer-section/linkedin-hover.svg';"
          onmouseout="src='./assets/img/footer-section/Linkedin button.svg';"
          alt=""
        />
      </a>
    </div>
  </div>
  <div class="bottom-footer d-flex">
    <a routerLink="/imprint">{{ "Legal Notice/Imprint" | translate }}</a>
  </div>
</section>
