<section class="d-flex">
  <div class="contact-me">
    <div class="contact-me-header d-flex align-items-end">
      <div class="header">Contact me</div>
      <div class="arrow-contact-me-div">
        <img
          class="arrow-contact-me"
          src="/assets/img/contact-me-section/Arrow (1).svg"
          alt=""
        />
      </div>
    </div>
    <div class="contact-infos d-flex">
      <div class="contact-me-text">
        Still not sure if I am the right person for your project? Contact me so
        I can reassure you. Let us work together
      </div>
      <div class="my-contact-infos">
        <div>
          <img src="/assets/img/contact-me-section/e-mail-sign.svg" alt="" />
          <span class="e-mail">E-mail: mustermail&#64;gmail.com</span>
        </div>
        <div>
          <img src="/assets/img/contact-me-section/tel-icon.svg" alt="" />
          <span class="telefon-number">Tel: 0157 123 456 68</span>
        </div>
      </div>
      <div class="arrow-up-red">
        <img
          src="/assets/img/contact-me-section/arrow-up.svg"
          onmouseover="this.src='/assets/img/contact-me-section/arrow-up-hover.svg';"
          onmouseout="this.src='/assets/img/contact-me-section/arrow-up.svg';"
        />
      </div>
    </div>
  </div>

  <div class="form-div">
    <form action="">
      <fieldset>
        <div class="input-section d-flex justify-content-between">
          <div class="name-email-section d-flex flex-column">
            <input placeholder="Your Name" type="text" />
            <input placeholder="Your E-mail" type="text" />
          </div>
          <textarea name="message" id="" placeholder="Your Message"></textarea>
        </div>
        <div class="privacy-police-div">
          <img
            src="/assets/img/contact-me-section/check_box_outline_blank.svg"
            alt=""
          />
          <span
            >I've read the <a href="">privacy policy</a> and agree to the
            processing of my data as outlined.</span
          >
        </div>
        <div class="send-button-div d-flex justify-content-end">
          <button>Send</button>
        </div>
      </fieldset>
    </form>
    <div class="arrow-up-red-responsive-div">
      <div class="arrow-up-red-responsive">
        <img
          src="/assets/img/contact-me-section/arrow-up.svg"
          onmouseover="this.src='/assets/img/contact-me-section/arrow-up-hover.svg';"
          onmouseout="this.src='/assets/img/contact-me-section/arrow-up.svg';"
        />
      </div>
    </div>
    <div class="my-contact-infos-responsive">
      <div>
        <img src="/assets/img/contact-me-section/e-mail-sign.svg" alt="" />
        <span class="e-mail">E-mail: mustermail&#64;gmail.com</span>
      </div>
      <div>
        <img src="/assets/img/contact-me-section/tel-icon.svg" alt="" />
        <span class="telefon-number">Tel: 0157 123 456 68</span>
      </div>
    </div>
  </div>
</section>
