@import './../../../styles.scss';

.error-name {
  position: relative;
  bottom: 46px;
  left: 10px;
  color: $red;
  font-size: 1rem;

}

.error-message {
  position: relative;
  bottom: 139px;
  left: 10px;
  color: $red;
  font-size: 1rem;

}




section {
  max-width: 1184px;
  flex-direction: column;
  width: 90vw;
  margin-top: 6rem;

}



.header {
    color: $red;
    font-size: 3.5rem;
}

.contact-infos {
  justify-content: space-between;

}

.e-mail {
    font-size: 1.2rem;
    text-decoration: none;
    color: #02F4BF;
}

.success-message-div {
  display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.success-message {
  height: 6rem;
  width: 16rem;
  border: solid 3px #02F4BF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $red;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #120B35;


}




.contact-me-text {
    font-size: 1.2rem;
    width: 45%;
}

.telefon-number {
    font-size: 1.2rem;
}

.tel-icon {
  width: 25px;
}

.contact-me-header {
  gap: 20px;

}

.arrow-contact-me{
  margin-bottom: 10px;
}

.name-email-section {
  width: 45%;
  justify-content: space-between;

    >input[type=email],[type=text] {
      width: 100%;
      height: 3rem;
      border: solid 2px #02F4BF;
      background-color: unset;
      color: #02F4BF;
      font-size: 1rem;}

}

input.error::placeholder {
  color: $red;
}

textarea.error::placeholder {
  color: $red;
}

.checkbox:hover {
  content: url('../../../assets/img/contact-me-section/check-box-hover.svg');
}

.privacy-error {
  color: $red;
}



::placeholder {
  color: #02F4BF;
  opacity: 0.5; 
  padding-left: 0.5rem;
  font-size: 1rem;
}

.textarea-div {
  width: 45%;
}

textarea {
  width: 45%;
  border: solid 2px #02F4BF;
  background-color: unset;
  color: #02F4BF;
  font-size: 1rem;
  height: 100%;
}

.input-section{
  height: 144px;
  margin-top: 2rem;
}

.my-contact-infos {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;

    >div {
      display: flex;
      gap: 1.5rem;
    }
}

.privacy-police-div {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  >span {
    font-size: 0.8rem;
  }
}

button {
  padding: 15px 30px 15px 30px;
  border: solid 2px rgba(130, 123, 123, 1);
  background-color: #120B35;
  color: rgba(130, 123, 123, 1);
  font-size: 1rem;
  font-weight: 600;
}

.legal-submit {
  color: $red;
  border: solid 2px #02F4BF;
}

.privacy-link {
  text-decoration: none;
  color: $red;
}




.arrow-up-red {
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-up-red-responsive-div {
  display: none;
}

.my-contact-infos-responsive {
  display: none;
}

.checkbox {
  cursor: pointer;
}


@media only screen and (max-width: 800px) {



  .success-message-div {
      justify-content: center;
      margin-bottom: 3rem;
 
  }

  .privacy-police-text {
    flex-direction: column;
    text-align: center;
  }
 
.arrow-contact-me-div {
  display: none;
}

.my-contact-infos {
  display: none;
}

.arrow-up-red {
  display: none;
}

section {
  align-items: center;
  padding-top: 100px;

}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact-infos {
  justify-content: center;

}

.input-section {
  flex-direction: column ;
  align-items: center;
  height: 25rem;
}

textarea {
  height: 12rem;
  width: 100%;
}

.name-email-section {
  width: 100%;
  gap: 1rem;

  >input {
    height: 50px;
    border: solid 2px #02F4BF;
    color: #02F4BF;
    font-size: 1rem;}

}

.form-div { 
  width: 100%;
}

.contact-me-text {
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
}

.send-button-div {
  justify-content: center !important;

}

.privacy-police-div {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;

  >span {
    font-size: 1rem;
  }
}

.arrow-up-red-responsive-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.arrow-up-red-responsive {
  width: 38px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-contact-infos-responsive {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;

  >div {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

  >img {
    width: 2rem;
  }
  }
}




}










    /* reset */
    #fs-frm input,
    #fs-frm select,
    #fs-frm textarea,
    #fs-frm fieldset,
    #fs-frm optgroup,
    #fs-frm label,
    #fs-frm #card-element:disabled {
      font-family: inherit;
      font-size: 100%;
      color: inherit;
      border: none;
      border-radius: 0;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    #fs-frm label,
    #fs-frm legend,
    #fs-frm ::placeholder {
      font-size: 0.825rem;
      margin-bottom: 0.5rem;
      padding-top: 0.2rem;
      display: flex;
      align-items: baseline;
    }

    /* border, padding, margin, width */
    #fs-frm input,
    #fs-frm select,
    #fs-frm textarea,
    #fs-frm #card-element {
      border: 1px solid rgba(0, 0, 0, 0.2);
      background-color: rgba(255, 255, 255, 0.9);
      padding: 0.75em 1rem;
      margin-bottom: 1.5rem;
    }
    #fs-frm input:focus,
    #fs-frm select:focus,
    #fs-frm textarea:focus {
      background-color: white;
      outline-style: solid;
      outline-width: thin;
      outline-color: gray;
      outline-offset: -1px;
    }
    #fs-frm [type="text"],
    #fs-frm [type="email"] {
      width: 100%;
    }
    #fs-frm [type="button"],
    #fs-frm [type="submit"],
    #fs-frm [type="reset"] {
      width: auto;
      cursor: pointer;
      -webkit-appearance: button;
      -moz-appearance: button;
      appearance: button;
    }
    #fs-frm [type="button"]:focus,
    #fs-frm [type="submit"]:focus,
    #fs-frm [type="reset"]:focus {
      outline: none;
    }
    #fs-frm [type="submit"],
    #fs-frm [type="reset"] {
      margin-bottom: 0;
    }
    #fs-frm select {
      text-transform: none;
    }

    #fs-frm [type="checkbox"] {
      -webkit-appearance: checkbox;
      -moz-appearance: checkbox;
      appearance: checkbox;
      display: inline-block;
      width: auto;
      margin: 0 0.5em 0 0 !important;
    }

    #fs-frm [type="radio"] {
      -webkit-appearance: radio;
      -moz-appearance: radio;
      appearance: radio;
    }

    /* address, locale */
    #fs-frm fieldset.locale input[name="city"],
    #fs-frm fieldset.locale select[name="state"],
    #fs-frm fieldset.locale input[name="postal-code"] {
      display: inline;
    }
    #fs-frm fieldset.locale input[name="city"] {
      width: 52%;
    }
    #fs-frm fieldset.locale select[name="state"],
    #fs-frm fieldset.locale input[name="postal-code"] {
      width: 20%;
    }
    #fs-frm fieldset.locale input[name="city"],
    #fs-frm fieldset.locale select[name="state"] {
      margin-right: 3%;
    }