<section class="d-flex" id="contact">
  <div class="contact-me">
    <div class="contact-me-header d-flex align-items-end">
      <div class="header">{{ "Contact me" | translate }}</div>
      <div class="arrow-contact-me-div">
        <img
          class="arrow-contact-me"
          src="./assets/img/contact-me-section/Arrow (1).svg"
          alt=""
        />
      </div>
    </div>
    <div class="contact-infos d-flex">
      <div class="contact-me-text">
        {{
          "Still not sure if I am the right person for your project? Contact me so I can reassure you. Let us work together"
            | translate
        }}
      </div>
      <div class="my-contact-infos">
        <div>
          <img src="./assets/img/contact-me-section/e-mail-sign.svg" alt="" />
          <a href="mailto:info@rene-lochschmidt.de" class="e-mail"
            >E-mail: <br />
            info&#64;rene-lochschmidt.de</a
          >
        </div>
      </div>
      <div class="arrow-up-red">
        <a href="#landing-page">
          <img
            src="./assets/img/contact-me-section/arrow-up.svg"
            onmouseover="this.src='./assets/img/contact-me-section/arrow-up-hover.svg';"
            onmouseout="this.src='./assets/img/contact-me-section/arrow-up.svg';"
          />
        </a>
      </div>
    </div>
  </div>

  <div class="form-div">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <fieldset>
        <div class="input-section d-flex justify-content-between">
          <div class="name-email-section d-flex flex-column">
            <input
              [class.error]="!name.valid && (name.touched || checkSubmit)"
              #name="ngModel"
              [(ngModel)]="contactData.name"
              id="name"
              type="text"
              name="name"
              [placeholder]="getNamePlaceholder(name.valid, name.touched)"
              required
            />

            <input
              [class.error]="!email.valid && (email.touched || checkSubmit)"
              #email="ngModel"
              [(ngModel)]="contactData.email"
              [placeholder]="getEmailPlaceholder(email.valid, email.touched)"
              type="email"
              name="email"
              required
              pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            />
          </div>

          <textarea
            [class.error]="!message.valid && (message.touched || checkSubmit)"
            [(ngModel)]="contactData.message"
            name="message"
            id=""
            [placeholder]="
              getMessagePlaceholder(message.valid, message.touched)
            "
            required
            #message="ngModel"
          ></textarea>
        </div>
        <div class="privacy-police-div">
          <img
            class="checkbox-checked"
            (click)="togglePrivacyPolice()"
            *ngIf="privacyAgreed"
            src="./assets/img/contact-me-section/Property 1=checked box.svg"
            alt="Checked Box"
          />
          <img
            class="checkbox"
            (click)="togglePrivacyPolice()"
            *ngIf="!privacyAgreed"
            src="./assets/img/contact-me-section/check_box_outline_blank.svg"
            alt="Unchecked Box"
          />

          <span class="privacy-police-text d-flex align-items-center">
            {{ "I've read the" | translate }}&nbsp;<a
              target="_blank"
              class="privacy-link"
              href="/imprint"
              >{{ "privacy policy" | translate }}</a
            >&nbsp;{{
              "and agree to the processing of my data as outlined." | translate
            }}
          </span>
        </div>
        @if (checkPrivacy && !privacyAgreed) {
        <span class="privacy-error">{{
          "Please accept the privacy policy." | translate
        }}</span>
        } @if (showSuccessMessage) {
        <div class="success-message-div">
          <div class="success-message">
            {{ "Your message has been successfully sent!" | translate }}
          </div>
        </div>

        }
        <div class="send-button-div d-flex justify-content-end">
          <button
            [class.legal-submit]="
              privacyAgreed && message.valid && email.valid && name.valid
            "
            type="submit"
            value="Submit"
          >
            {{ "Send" | translate }}
          </button>
        </div>
      </fieldset>
    </form>
    <div class="arrow-up-red-responsive-div">
      <div class="arrow-up-red-responsive">
        <a href="#landing-page">
          <img
            src="./assets/img/contact-me-section/arrow-up.svg"
            onmouseover="this.src='./assets/img/contact-me-section/arrow-up-hover.svg';"
            onmouseout="this.src='./assets/img/contact-me-section/arrow-up.svg';"
          />
        </a>
      </div>
    </div>
    <div class="my-contact-infos-responsive">
      <div>
        <img src="./assets/img/contact-me-section/e-mail-sign.svg" alt="" />

        <a href="mailto:info@rene-lochschmidt.de" class="e-mail"
          >E-mail: info&#64;rene-lochschmidt.de</a
        >
      </div>
    </div>
  </div>
</section>
