<section class="landing-page" id="landing-page">
  <div class="landing-page-left-side">
    <div class="landing-page-navigate">
      <div>
        <a href="#contact" class="contact-me">{{ "CONTACT ME" | translate }}</a>
      </div>
      <div class="arrow-down-red">
        <a href="#why-me">
          <img
            src="./assets/img/landing-page/arrow-down-red.png"
            onmouseover="this.src='./assets/img/landing-page/arrow-down-green.png';"
            onmouseout="this.src='./assets/img/landing-page/arrow-down-red.png';"
          />
        </a>
      </div>
    </div>
    <div class="my-name">
      <h2>FRONTEND DEVELOPER</h2>
      <h1>RENE LOCHSCHMIDT</h1>
    </div>
  </div>
  <div class="profil-image-div">
    <img
      class="profil-image"
      src="./assets/img/landing-page/profilbild-freigestellt.png"
      alt=""
    />
  </div>
</section>
