.router-outlet {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #13074E 46.5%, rgba(29, 10, 121, 0.95) 91%);
    // background: rgba(18, 11, 53, 1);
    // background-size: 100% 50%; // Größe des Verlaufs auf die Hälfte der Höhe des Containers
    // background-repeat: repeat-y; // Vertikale Wiederholung des Verlaufs

}