<section id="projects">
  <h1>{{ "My Projects" | translate }}</h1>
  <div
    data-aos="flip-left"
    data-aos-offset="600"
    data-aos-duration="2000"
    class="join d-flex justify-content-between"
  >
    <div class="links-to-projects-responsive">
      <a class="github-link" href="">GitHub</a>
      <a class="lets-talk link-red-hover" href="">Live Test</a>
    </div>
    <img
      class="join-img"
      src="./assets/img/my-projects-section/screenshot-join.png"
      alt=""
    />
    <div class="join-info d-flex flex-column justify-content-between">
      <div class="upper-join-info">
        <span>Join</span>
        <div class="join-languages d-flex align-items-center">
          <div
            class="join-languages-upper d-flex justify-content-between align-items-center"
          >
            <div>Angular</div>
            <div class="seperator"></div>
            <div>TypeScript</div>
            <div class="seperator"></div>
            <div>HTML</div>
            <div class="seperator"></div>
          </div>
          <div
            class="join-languages-bottom d-flex justify-content-between align-items-center"
          >
            <div>CSS</div>
            <div class="seperator"></div>
            <div>Firebase</div>
          </div>
        </div>
      </div>

      <div class="bottom-join-info d-flex flex-column">
        <p>
          {{
            "Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories."
              | translate
          }}
        </p>

        <div class="links-to-projects">
          <a
            target="_blank"
            class="github-link"
            href="https://github.com/Renec142151/Join-Kanban-Board"
            >GitHub</a
          >
          <a
            target="_blank"
            class="lets-talk link-red-hover"
            href="https://rene-lochschmidt.de/join/"
            >Live Test</a
          >
        </div>
      </div>
    </div>
  </div>

  <div
    data-aos="flip-right"
    data-aos-offset="600"
    data-aos-duration="2000"
    class="el-pollo d-flex justify-content-between"
  >
    <div
      class="el-pollo-info d-flex flex-column justify-content-between align-items-end"
    >
      <div class="upper-join-info">
        <span class="pollo-header">El Pollo Loco</span>
        <div
          class="pollo-languages d-flex align-items-center justify-content-end"
        >
          <div>JavaScirpt</div>
          <div class="seperator"></div>
          <div>HTML</div>
          <div class="seperator"></div>
          <div>CSS</div>
        </div>
      </div>

      <div class="bottom-pollo-info d-flex flex-column">
        <p>
          {{
            "Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen."
              | translate
          }}
        </p>

        <div class="links-to-projects links-to-projects-pollo">
          <a
            target="_blank"
            class="github-link"
            href="https://github.com/Renec142151/El-Pollo-Loco"
            >GitHub</a
          >
          <a
            target="_blank"
            class="lets-talk link-red-hover"
            href="https://rene-lochschmidt.de/El-Pollo-Loco/"
            >Live Test</a
          >
        </div>
      </div>
    </div>
    <img
      class="pollo-img"
      src="./assets/img/my-projects-section/screenshot-el-pollo-loco.png"
      alt=""
    />
    <div class="links-to-projects-responsive">
      <a class="github-link" href="">GitHub</a>
      <a class="lets-talk link-red-hover" href="">Live Test</a>
    </div>
  </div>
</section>
