@import './../../../styles.scss';



section {
    max-width: 1180px;
    width: 90vw;
    padding-top: 100px;
}
h1 {
    color: $red;
    text-align: center;
    margin-bottom: 50px;
    font-size: 3rem;
}

.join {
    margin-bottom: 100px;

    >img {
        // height: 370px;
        width: 50%;

    }
}


.seperator {
    border-left: solid 1px #02F4BF;
    height: 14px;
}

.join-languages {
    font-size: 1rem;
    gap: 1rem;
}

.join-languages-upper {
    gap: 1rem;
    font-size: 1.1rem;
}

.join-languages-bottom {
    gap: 1rem;
    font-size: 1.1rem;
}

.join-info {
    width: 498px;
    margin-left: 50px;
    margin-top: -20px;
    height: 318px;
}

.upper-join-info {
    >span {
        font-size: 3rem;
    }
}

.bottom-join-info {
    gap: 30px;

    >p {
        font-size: 1rem;
    }

}

.bottom-pollo-info {
    gap: 30px;

    >p {
        text-align: right;
        font-size: 1rem;
    }
}

.links-to-projects-pollo {
    justify-content: end;
}

.github-link {
    width: 169px;
    height: 52px;
    padding: 15px 30px 15px 30px;
    opacity: 0px;
    text-align: center;
    text-decoration: none;
    color: $red;
    font-weight: bold;
    font-size: 1rem;
    border: 1px solid #02F4BF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-to-projects {
    display: flex;
    align-items: center;
    gap: 20px;
}

.el-pollo {
    

    >img {
        // height: 370px;
        width: 50%;
    }
}

.el-pollo-info {
    width: 498px;
    margin-right: 50px;
    margin-top: -20px;
    height: 318px;
}

.links-to-projects-responsive {
    display: none;
}

.pollo-languages {
    gap: 1rem;
    font-size: 1rem;
}


@media only screen and (max-width: 1100px) {
    .join {
        flex-direction: column-reverse;
        align-items: center;

        >img {
            
            width: 90%;
    
        }

    

    }

    .join-img {
        margin-top: 3rem;
    }

    .join-languages {
        width: 70%;
        justify-content: center;
        flex-direction: column;
        
    }

    .upper-join-info {

        display: flex;
    flex-direction: column;
    align-items: center;
        >span {
            font-size: 3rem;
            display: flex;
            justify-content: center;
        }
    }

    .join-info {
        margin-left: 0;
        height: unset;
        width: 90%;

    }

    .bottom-join-info {
    
        >p {
            margin-top: 2rem;
            text-align: center;
                font-size: 1.3rem;
    
        }
    
    }

    .links-to-projects {
        display: none;
    }

    .links-to-projects-responsive {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 2rem;


    }

    .el-pollo {
    flex-direction: column;
    align-items: center;

        >img {
            
            width: 90%;
        }
    }

    .el-pollo-info {
        width: 90%;
        height: unset;
        margin: 0;
        align-items: center !important;
    }

    .join-languages {
        margin-top: 2rem;
    }

    .pollo-languages {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .github-link {
        width: 7.5rem;
        height: 3.5rem;
        padding: 12px 20px 12px 20px;
    }

    .lets-talk {
        width: 9.5rem;
        height: 3.5rem;
        padding: 12px 20px 12px 20px;
        }

        .join-languages-upper {
            gap: 1rem;
            font-size: 1.5rem;
        }
        
        .join-languages-bottom {
            gap: 1rem;
            font-size: 1.5rem;
        }

        .bottom-pollo-info {
        
            >p {
                margin-top: 2rem;
                text-align: center;
                font-size: 1.3rem;
            }
        }

        .pollo-img {
            margin-top: 3rem;
        }

        .pollo-header {
            text-align: center;
        }
  }


