<section>
  <h1>My Projects</h1>
  <div class="join d-flex justify-content-between">
    <div class="links-to-projects-responsive">
      <a class="github-link" href="">GitHub</a>
      <a class="lets-talk link-red-hover" href="">Live Test</a>
    </div>
    <img
      class="join-img"
      src="/assets/img/my-projects-section/screenshot-join.png"
      alt=""
    />
    <div class="join-info d-flex flex-column justify-content-between">
      <div class="upper-join-info">
        <span>Join</span>
        <div class="join-languages d-flex align-items-center">
          <div
            class="join-languages-upper d-flex justify-content-between align-items-center"
          >
            <div>Angular</div>
            <div class="seperator"></div>
            <div>TypeScript</div>
            <div class="seperator"></div>
            <div>HTML</div>
            <div class="seperator"></div>
          </div>
          <div
            class="join-languages-bottom d-flex justify-content-between align-items-center"
          >
            <div>CSS</div>
            <div class="seperator"></div>
            <div>Firebase</div>
          </div>
        </div>
      </div>

      <div class="bottom-join-info d-flex flex-column">
        <p>
          Task manager inspired by the Kanban System. Create and organize tasks
          using drag and drop functions, assign users and categories.
        </p>

        <div class="links-to-projects">
          <a class="github-link" href="">GitHub</a>
          <a class="lets-talk link-red-hover" href="">Live Test</a>
        </div>
      </div>
    </div>
  </div>

  <div class="el-pollo d-flex justify-content-between">
    <div
      class="el-pollo-info d-flex flex-column justify-content-between align-items-end"
    >
      <div class="upper-join-info">
        <span class="pollo-header">El Pollo Loco</span>
        <div
          class="pollo-languages d-flex align-items-center justify-content-end"
        >
          <div>JavaScirpt</div>
          <div class="seperator"></div>
          <div>HTML</div>
          <div class="seperator"></div>
          <div>CSS</div>
        </div>
      </div>

      <div class="bottom-pollo-info d-flex flex-column">
        <p>
          Jump, run and throw game based on object-oriented approach. Help Pepe
          to find coins and tabasco salsa to fight against the crazy hen.
        </p>

        <div class="links-to-projects links-to-projects-pollo">
          <a class="github-link" href="">GitHub</a>
          <a class="lets-talk link-red-hover" href="">Live Test</a>
        </div>
      </div>
    </div>
    <img
      class="pollo-img"
      src="/assets/img/my-projects-section/screenshot-el-pollo-loco.png"
      alt=""
    />
    <div class="links-to-projects-responsive">
      <a class="github-link" href="">GitHub</a>
      <a class="lets-talk link-red-hover" href="">Live Test</a>
    </div>
  </div>
</section>
