@import './../../../styles.scss';



section {
    max-width: 1180px;
    width: 90vw;
}
h1 {
    color: $red;
    text-align: center;
    margin: 100px 0 100px 0;
    font-size: 3rem;
}

.join {
    margin-bottom: 100px;

    >img {
        // height: 370px;
        width: 50%;

    }
}


.seperator {
    border-left: solid 1px #02F4BF;
    height: 14px;
}

.join-languages {
    font-size: 1rem;
}

.join-info {
    width: 498px;
    margin-left: 100px;
    margin-top: -20px;
    height: 318px;
}

.upper-join-info {
    >span {
        font-size: 3rem;
    }
}

.bottom-join-info {
    gap: 30px;

    >p {
        font-size: 1rem;
    }

}

.github-link {
    width: 169px;
    height: 52px;
    padding: 15px 30px 15px 30px;
    opacity: 0px;
    text-align: center;
    text-decoration: none;
    color: $red;
    font-weight: bold;
    font-size: 1rem;
    border: 1px solid #02F4BF;
}

.links-to-projects {
    display: flex;
    align-items: center;
    gap: 20px;
}

.el-pollo {
    

    >img {
        // height: 370px;
        width: 50%;
    }
}

.el-pollo-info {
    width: 498px;
    margin-right: 50px;
    margin-top: -20px;
    height: 318px;
}

.links-to-projects-responsive {
    display: none;
}


@media only screen and (max-width: 1100px) {
    .join {
        flex-direction: column-reverse;
        align-items: center;

        >img {
            
            width: 90%;
    
        }

    

    }

    .upper-join-info {
        >span {
            font-size: 3rem;
            display: flex;
            justify-content: center;
        }
    }

    .join-info {
        margin-left: 0;
        height: 14rem;

    }

    .bottom-join-info {
    
        >p {
            text-align: center;
        }
    
    }

    .links-to-projects {
        display: none;
    }

    .links-to-projects-responsive {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 2rem;
    }

    .el-pollo {
    flex-direction: column;
    align-items: center;

        >img {
            
            width: 90%;
        }
    }

    .el-pollo-info {
        width: 498px;
        height: 14rem;
        margin: 0;
    }
  }
