<section>
  <h1>My Projects</h1>
  <div class="join d-flex">
    <img src="/assets/img/my-projects-section/screenshot-join.png" alt="" />
    <div class="join-info d-flex flex-column justify-content-between">
      <div class="upper-join-info">
        <span>JOIN</span>
        <div
          class="join-languages d-flex justify-content-between align-items-center"
        >
          <div>Angular</div>
          <div class="seperator"></div>
          <div>TypeScript</div>
          <div class="seperator"></div>
          <div>HTML</div>
          <div class="seperator"></div>
          <div>CSS</div>
          <div class="seperator"></div>
          <div>Firebase</div>
        </div>
      </div>

      <div class="bottom-join-info d-flex flex-column">
        <p>
          Task manager inspired by the Kanban System. Create and organize tasks
          using drag and drop functions, assign users and categories.
        </p>

        <div class="links-to-projects">
          <a class="github-link" href="">GitHub</a>
          <a class="lets-talk link-red-hover" href="">Live Test</a>
        </div>
      </div>
    </div>
  </div>
  <div class="el-pollo-loco">
    <img
      src="/assets/img/my-projects-section/screenshot-el-pollo-loco.png"
      alt=""
    />
  </div>
  <div class="Pokedex"></div>
</section>
