@import './../../../styles.scss';


h2 {
    color: $red;
    font-size: 1.5rem;
}


.references {
        margin-top: 32px;
    gap: 32px;
}

.references-header {
    color: $red;
    font-size: 1.5rem;
    margin: 100px 0 50px 0;
}

section {
    margin-top: 100px;
    max-width: 1186px;
}

.single-references {
    width: 525px;
    height: 350px;
    
    >span {
        font-size: 1.2rem;
    }

    >p {
        font-size: 1.2rem;
    }
}