<section>
  <div class="header-div d-flex">
    <span class="references-header first-header">Need a teamplayer?</span>
    <span class="references-header">Here what my colleagues said about me</span>
  </div>

  <div class="references">
    <div class="arrow">
      <img src="/assets/img/references-section/Arrow.svg" alt="" />
    </div>
    <div class="single-references">
      <h2>Pascal Nehlsen</h2>
      <span>Project Join</span>
      <p>
        ''I had the pleasure of working with Rene on a programming project. His
        exceptional problem-solving skills and strong team collaboration made
        him an invaluable asset. Rene's dedication and positive attitude ensured
        our project's success. Highly recommended for any team.''
      </p>
    </div>
    <div class="single-references">
      <h2>Vanessa Sachs</h2>
      <span>Project Join</span>
      <p>
        ''René was exceptionally dedicated and played a crucial role in driving
        our team forward. His insightful ideas and vast knowledge greatly
        contributed to our success, and I benefited immensely from his
        expertise. Working with him was not only productive but also genuinely
        enjoyable. I would be delighted to collaborate with him again in the
        future!''
      </p>
    </div>
  </div>
</section>
