@import './../../../styles.scss';


section {
    width: 90vw;
    display: flex;
    flex-direction: column;
}

h2 {
    color: $red;
    font-size: 1.5rem;
}


.references {
    margin-top: 32px;
    gap: 32px;
    display: flex;
    justify-content: space-between;
}

.references-header {
    color: $red;
    font-size: 1.5rem;
    margin: 100px 0 50px 0;
}

section {
    margin-top: 100px;
    max-width: 1186px;
}

.single-references {
    width: 525px;
    
    >span {
        font-size: 1.2rem;
    }

    >p {
        font-size: 1.2rem;
    }
}

.header-div {
    gap: 1rem;
}

@media only screen and (max-width: 800px) {
    .header-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .references-header {
        font-size: 1.3rem;
        margin: 0 0 0 0;
        text-align: center;
    }
    
    .first-header {
        font-size: 2rem;
    }

    .arrow {
        display: none;
       }

    .single-references {
        min-width: 40rem;
        border: solid 1px rgba(2, 244, 191, 1) ;
        padding: 1rem;
    
    >span {
        font-size: 1.2rem;
    }

    >p {
        font-size: 1.2rem;
    }

}

.references {
    flex-direction: row;
    overflow-x: auto;

}
    }