<section class="landing-page">
  <div class="landing-page-left-side">
    <div class="landing-page-navigate">
      <div><a class="contact-me">CONTACT ME</a></div>
      <div class="arrow-down-red">
        <img src="./assets/img/landing-page/arrow-down-red.svg" alt="" />
      </div>
    </div>
    <div class="my-name">
      <h2>FRONTEND DEVELOPER</h2>
      <h1>RENE LOCHSCHMIDT</h1>
    </div>
  </div>
  <div>
    <img
      class="profil-image"
      src="./assets/img/landing-page/banana.jpg"
      alt=""
    />
  </div>
</section>
