
@import './../../../styles.scss';

section {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
}

.my-skills {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1337px;
    gap: 100px;
    width: 90vw;
    margin-top: 2rem;

    >img {
        height: 100px;
        
    }
}

h1 {
    color: $red;
    font-size: 3rem;
    font-weight: 500;
}

.challenge-me-text {
    height: 7.5rem;
    width: 14rem;
    display: none;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    font-size: 1rem;
}

.challenge-me:hover .challenge-me-text {
    display: flex;
}

.challenge-me-mobile {
    display: none;
}


@media only screen and (max-width: 800px) {


    h1 {
        text-align: center;
    }

    .my-skills {
        justify-content: center;
        margin-top: 4rem;
        gap: 2.5rem;
    
        >img {
            height: 6rem;
            
        }
    }


    .challenge-me {
        display: none !important;
    }

    .challenge-me-mobile {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 2.5rem;

        >img { 
            height: 4rem;
        }
    }

    .challenge-me-text-mobile {
        text-align: center;
    }


}
