<section>
  <h1>My Skills</h1>
  <div class="my-skills">
    <img src="/assets/img/my-skills-section/angular.svg" alt="" />
    <img src="/assets/img/my-skills-section/Property 1=TypeScript.svg" alt="" />
    <img src="/assets/img/my-skills-section/Property 1=JavaScript.svg" alt="" />
    <img src="/assets/img/my-skills-section/Property 1=HTML.svg" alt="" />
    <img src="/assets/img/my-skills-section/Property 1=CSS.svg" alt="" />
    <img src="/assets/img/my-skills-section/Property 1=API.svg" alt="" />
    <img src="/assets/img/my-skills-section/Property 1=Firebase.svg" alt="" />
    <img src="/assets/img/my-skills-section/Property 1=GIT.svg" alt="" />
    <img src="/assets/img/my-skills-section/Property 1=Scrum.svg" alt="" />
    <img
      src="/assets/img/my-skills-section/Property 1=MaterialDesign.svg"
      alt=""
    />
    <img
      src="/assets/img/my-skills-section/Property 1=Challenge me.svg"
      alt=""
      onmouseover="src='/assets/img/my-skills-section/Property 1=Challenge me 02.svg';"
      onmouseout="src='/assets/img/my-skills-section/Property 1=Challenge me.svg';"
    />
  </div>
</section>
