<section id="my-skills">
  <h1>My Skills</h1>
  <div class="my-skills">
    <img
      data-aos="zoom-in"
      data-aos-duration="3000"
      data-aos-offset="300"
      src="./assets/img/my-skills-section/angular.svg"
      alt=""
    />
    <img
      data-aos="zoom-in"
      data-aos-duration="2000"
      data-aos-offset="300"
      src="./assets/img/my-skills-section/Property 1=TypeScript.svg"
      alt=""
    />
    <img
      data-aos="zoom-in"
      data-aos-duration="3000"
      data-aos-offset="300"
      src="./assets/img/my-skills-section/Property 1=JavaScript.svg"
      alt=""
    />
    <img
      data-aos="zoom-in"
      data-aos-duration="2000"
      data-aos-offset="300"
      src="./assets/img/my-skills-section/Property 1=HTML.svg"
      alt=""
    />
    <img
      data-aos="zoom-in"
      data-aos-duration="3000"
      data-aos-offset="300"
      src="./assets/img/my-skills-section/Property 1=CSS.svg"
      alt=""
    />
    <img
      data-aos="zoom-in"
      data-aos-duration="2000"
      data-aos-offset="300"
      src="./assets/img/my-skills-section/Property 1=API.svg"
      alt=""
    />
    <img
      data-aos="zoom-in"
      data-aos-duration="3000"
      data-aos-offset="300"
      src="./assets/img/my-skills-section/Property 1=Firebase.svg"
      alt=""
    />
    <img
      data-aos="zoom-in"
      data-aos-duration="2000"
      data-aos-offset="300"
      src="./assets/img/my-skills-section/Property 1=GIT.svg"
      alt=""
    />
    <img
      data-aos="zoom-in"
      data-aos-duration="3000"
      data-aos-offset="300"
      src="./assets/img/my-skills-section/Property 1=Scrum.svg"
      alt=""
    />
    <img
      data-aos="zoom-in"
      data-aos-duration="2000"
      data-aos-offset="300"
      src="./assets/img/my-skills-section/Property 1=MaterialDesign.svg"
      alt=""
    />
    <div
      data-aos="zoom-in"
      data-aos-duration="2000"
      data-aos-offset="300"
      class="challenge-me d-flex"
    >
      <img
        src="./assets/img/my-skills-section/challenge me single symbol.svg"
        alt=""
      />
      <div class="challenge-me-text">
        {{
          "I am always happy to learn new technonogies, just tell me what you need."
            | translate
        }}
      </div>
    </div>
  </div>
  <div
    data-aos="zoom-in"
    data-aos-duration="2000"
    data-aos-offset="300"
    class="challenge-me-mobile"
  >
    <img src="./assets/img/my-skills-section/challenge me mobile.svg" alt="" />
    <img
      class="arrow-mobile"
      src="./assets/img/my-skills-section/arrow mobile.svg"
      alt=""
    />
    <span
      data-aos="zoom-in"
      data-aos-duration="3000"
      data-aos-offset="300"
      class="challenge-me-text-mobile"
    >
      {{
        "I am always happy to learn new technonogies, just tell me what you need."
          | translate
      }}</span
    >
  </div>
</section>
