/* You can add global styles to this file, and also import other style files */

/* roboto-mono-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/roboto-mono-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  $red: rgb(225, 85, 68);


  @mixin dFlex ($jc: center, $ai: center, $g:0px) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}



body {
    height: 100vh;
    margin: 0;
    background-color: #120B35;
    font-family: 'Roboto Mono';
    color: #02F4BF;
    font-size: 12px;
    width: 100%;

}

.router-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//general Styles
.cursor-pointer {
  cursor: pointer !important;
} 

.w-100 {
  width: 100% !important;
}

a:hover {
  color:#02F4BF !important;
  cursor: pointer;
}

.lets-talk {
  width: 169px;
  height: 52px;
  padding: 15px 30px 15px 30px;
  opacity: 0px;
  background-color: rgba(2, 244, 191, 1);
  text-align: center;
  text-decoration: none;
  color: rgba(11, 4, 45, 1);
  font-weight: bold;
  font-size: 1rem;
  }

  .link-red-hover:hover {
    color: $red !important;
}



